body {
    background-image: linear-gradient(to bottom, #2A608A, #0B1924);
    color: white;
    margin: 4em 6em;
    font-family:Jost,sans-serif;
}


h1 {
  
    text-align: center;
    font-size: 10em;
    margin: 20px;
}

h2 {
    font-size:3em;
}
.start {
    background-color:#79ADCF;
    margin: 20px;

 }

 .how {
    background-color:#a4cbeb;
 }

 .guide-content {

    background-color: #79ADCF;
 }

 .animal {
    background-color:aqua;
    border-radius: 5px;
 }

 .trash {
    background-color:aqua;
    border-radius: 5px;
 }
.interactable{
    margin: 0 auto;
    /*width: 5%;*/
    width:3em;
    height:auto;
    padding: 5px 20px
    /*scale: 15%*/
}

.journal-popUp img {
    margin: 0 auto;
    /*width :5%;*/
    width:3em;
    height:auto;

}

#content  {
    padding:50px;
}

















.linkBottom {
    margin: 1em auto;
    width: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    background-color:#a4cbeb;
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

.linkBottom2 {
    margin: 1em auto;
    width: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    background-color:#79ADCF;
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

.linkBottom:hover {
    background-color:#2A608A
    ;
    color: white;
    padding: 15px 20px;
}
.linkBottom2:hover {
    background-color:#2A608A
    ;
    color: white;
    padding: 15px 20px;
}