body {
    background-image: linear-gradient(to bottom, #2A608A, #0B1924);
    color: white;
    margin: 4em 6em;
    font-family:Jost,sans-serif;
    margin: 0px;
}


h1 {
  
    text-align: center;
    font-size: 10em;
    margin: 20px;
}

h2 {
    font-size:3em;
}

h3 {
    padding-left: 25%;
}
.start {
    background-color:#79ADCF;
    padding: 20px 80px;
 }

.how {
    background-color:#a4cbeb;
    padding: 20px 80px;
 }

.guide-content {

    background-color: #79ADCF;
    padding: 20px 80px;
 }

.gameObject {
    /*background-color:aqua;
    border-radius: 5px;*/
    /* margin: 0 auto; */ 
    margin: 25px 25px
 }

 .gameInfo {
    background-color: white;
    color: #0B1924;
    padding: 10px;
    margin: 10px;
    position: absolute;
 }



.game{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#turtle-game{
    width: 300px;
    height: auto;
    align-self: flex-start;
}

#bag-game{
    width: 200px;
    height: auto;
    align-self: flex-end
}

#jellyfish-game{
    width: 300px;
    height: auto;
    align-self: center
}

#straw-game{
    width: 200px;
    height: auto;
    align-self: flex-start
}

#fish-game{
    width: 300px;
    height: auto;
    align-self: center
}

#oil-game{
    width: 300px;
    height: auto;
    align-self: flex-end
}

#crab-game{
    width: 300px;
    height: auto;
    align-self: flex-start
}

#bottle-game{
    width: 150px;
    height: auto;
    align-self: center
}

.game-elements{
    width: 400px;
    height: auto;
}


#player{
    width: 400px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}



.journal-popUp img {
    margin: 0 auto;
    /*width :5%;*/
    width:10em;
    height:auto;
    

}

.animal-images-popUp {
    padding-left: 25%;
}

.trash-images-popUp {
    padding-left: 25%;
}

.info-popUp {
    background-color:#a4cbeb;
    margin: 0px 200px;
    padding: 20px 80px;   
}

.info-popUp p {
    padding-left:25%;
}

#content  {
    padding:50px;
}

.animal-popUp{
    background-color:aqua;
    border-radius: 5px;
}

.trash-popUp{
    background-color:aqua;
    border-radius: 5px;
}








/*Links*/
.linkBottom {
    margin: 1em auto;
    width: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    background-color:#a4cbeb;
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

.linkBottom2 {
    margin: 1em auto;
    width: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    background-color:#79ADCF;
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

.linkBottom:hover {
    background-color:#2A608A
    ;
    color: white;
    padding: 15px 20px;
}
.linkBottom2:hover {
    background-color:#2A608A
    ;
    color: white;
    padding: 15px 20px;
}