body {
    background-image: linear-gradient(to bottom, #2A608A, #0B1924);
    color: white;
    margin: 4em 6em;
    font-family:Jost,sans-serif;
    margin: 0px;
}


h1 {
  
    text-align: center;
    font-size: 10em;
    margin: 20px;
}

h2 {
    font-size:3em;
}

h3 {
    padding-left: 25%;
}
.start {
    background-color:#79ADCF;
    padding: 20px 80px;
    height: 100vh;
 }

.how {
    background-color:#a4cbeb;
    padding: 20px 80px;
    height: 100vh;
 }

.guide-content {

    background-color: #79ADCF;
    padding: 10px 90px;
    position: fixed;
    left: 10%;
    top:10%;
    height: 80%;
    z-index: 1000;
 
 }


 /* Game */

.gameObject {
    margin: 25px 25px
 }

 .gameInfo {
    background-color: white;
    color: #0B1924;
    padding: 10px;
    margin: 10px;
    position: absolute;
 }

.game{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#turtle-game{
    width: 300px;
    height: auto;
    align-self: center;
}

#bag-game{
    width: 200px;
    height: auto;
    align-self: flex-end
}

#jellyfish-game{
    width: 300px;
    height: auto;
    align-self: center
}

#straw-game{
    width: 200px;
    height: auto;
    align-self: flex-start
}

#fish-game{
    width: 300px;
    height: auto;
    align-self: center
}

#oil-game{
    width: 300px;
    height: auto;
    align-self: flex-end
}

#crab-game{
    width: 300px;
    height: auto;
    align-self: flex-start
}

#bottle-game{
    width: 150px;
    height: auto;
    align-self: center
}

.game-elements{
    width: 400px;
    height: auto;
}


#player{
    width: 300px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}

#scoutGuide{
    width: 85px;
    position: fixed;
    bottom:15px;
    right:15px;
}

.journal-popUp img {
    margin: 0 auto;
    /*width :5%;*/
    width:10em;
    height:auto;
}

#turtle-info{
    align-self: center;  
}

#bag-info {
    align-self: flex-end;
    top: 225px;
}

#jellyfish-info{
    align-self: center;
    top: 485px;
}

#straw-info{
    align-self: flex-start;
    top: 875px;
}

#fish-info{
    align-self: center;  
    top: 1090px;
}

#oil-info{
    align-self: flex-end;
    top: 1340px;
}

#crab-info{
    align-self: flex-start;
    top: 1380px;
}

#bottle-info{
    align-self: center;
    top: 1600px;
}


/* Pop Ups */

.X-button {
    float:right;
}

.animal-images-popUp {
    padding-left:20%;
    width:1000px;
}

.trash-images-popUp {
    padding-left: 20%;
}

.info-popUp {
    background-color:#a4cbeb;
    margin: 0px 200px;
    padding: 20px 80px; 
    position: fixed;
    left: 10%;
    top: 30%;
    height: 40%;
    z-index: 10000; 
    display: flex;
    /* flex-direction: row; */
    width: 600px;
}

#info-popUp-image{
    width: 200px;
    height: auto;
}

#info-popUp-text{
    
}

.info-popUp h3{
    padding-left: 0%;
}



.info-popUp p {

}

.X-button {
    /* padding-left:25%; */
}

#content  {
    padding:50px;
}

.popUp{
    background-color:aqua;
    border-radius: 5px;
}






/*Links*/
.linkBottom, .linkBottom3 {
    margin: 1em auto;
    width: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    background-color:#a4cbeb;
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

.linkBottom2 {
    margin: 1em auto;
    width: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    background-color:#79ADCF;
    color:white;
    padding: 15px 20px;
    text-decoration: none;
}

.linkBottom:hover, .linkBottom3:hover {
    background-color:#2A608A;
    color: white;
    padding: 15px 20px;
}
.linkBottom2:hover {
    background-color:#2A608A;
    color: white;
    padding: 15px 20px;
}